<div class="summary">
  <h1>Summary</h1>
  <div class="summary__ticket">
    <div class="summary__ticket__left">
      <!-- Origin -->
      <div class="summary__ticket__label">
        From: {{ selectedOrigin }} <fa-icon [icon]="originIcon"></fa-icon></div>

      <!-- Destination -->
      <div class="summary__ticket__label">
        To:

         {{ selectedDestination }}
        <fa-icon [icon]="destinationIcon"></fa-icon>
      </div>

      <!-- Passengers -->
      <div class="summary__ticket__label">
        Passengers: {{ selectedPassengerCount }}
        <fa-icon [icon]="passengersIcon"></fa-icon>
      </div>

      <!-- Ticket price -->
      <div class="summary__price">
        <div class="summary__ticket__label">
          Price in:</div>

        <!-- Currency buttons -->
        <div class="summary__price__currencies">
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('PLN', 'zł')"
            autofocus
          >
            PLN
          </button>
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('USD', '$')"
          >
            USD
          </button>
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('EUR', '€')"
          >
            EUR
          </button>
        </div>
      </div>

      <!-- Loading animation -->
      <div *ngIf="loadingAnimation" class="loadingAnimation">
    <fa-icon [icon]="planeIcon"></fa-icon>
        </div>

        <!-- Price amount -->
      <p class="summary__price__value" *ngIf="!loadingAnimation">
        {{ getConvertedPrice() | number : "1.2-2" }} {{ currencySymbol }}
      </p>
    </div>

    <!-- Luggage -->
    <div class="summary__ticket__right">
      <div class="summary__ticket__label">
        Luggage: {{ selectedLuggageOption }}
        <fa-icon [icon]="luggageIcon"></fa-icon>
      </div>

      <!-- Date -->
      <div class="summary__ticket__label">
        Date: {{ formatSelectedDate() }} <fa-icon [icon]="dateIcon"></fa-icon>
      </div>

      <!-- Weather widget -->
      <div class="weatherDiv">
        <div *ngIf="weatherData.isDay" class="weatherDiv__row">
          <fa-icon class="sun" [icon]="sunIcon"></fa-icon>
        </div>
        <div *ngIf="!weatherData.isDay" class="weatherDiv__row">
          <fa-icon class="moon" [icon]="moonIcon"></fa-icon>
        </div>
        <div class="cloudDiv">
          <fa-icon class="cloud" [icon]="cloudIcon"></fa-icon>
        </div>
        <div class="weatherDiv__row" style="font-size: 32px; margin-top: 5px">
          {{ weatherData.temp_celcius }}°C
        </div>
        <div class="weatherDiv__row" style="font-size: 25px; margin-top: 10px">
          {{ selectedDestination }}
        </div>
      </div>
    </div>
  </div>
</div>
