<div class="summary">
  <h1>Summary</h1>
  <div class="summary__ticket">
    <div class="summary__ticket__left">
      <p>From: {{ selectedOrigin }} <fa-icon [icon]="originIcon"></fa-icon></p>
      <p>
        To: {{ selectedDestination }}
        <fa-icon [icon]="destinationIcon"></fa-icon>
      </p>
      <p>
        Passengers: {{ selectedPassengerCount }}
        <fa-icon [icon]="passengersIcon"></fa-icon>
      </p>
      <div class="summary__price">
        <p>Price in:</p>
        <div class="summary__price__currencies">
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('PLN', 'zł')"
            autofocus
          >
            PLN
          </button>
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('USD', '$')"
          >
            USD
          </button>
          <button
            class="summary__price__currencyBtn"
            (click)="setCurrency('EUR', '€')"
          >
            EUR
          </button>
        </div>
      </div>
      <p class="summary__price__value">
        {{ getConvertedPrice() | number : "1.2-2" }} {{ currencySymbol }}
      </p>
    </div>
    <div class="summary__ticket__right">
      <p>
        Luggage: {{ selectedLuggageOption }}
        <fa-icon [icon]="luggageIcon"></fa-icon>
      </p>

      <p>
        Date: {{ formatSelectedDate() }} <fa-icon [icon]="dateIcon"></fa-icon>
      </p>
      <div class="weatherDiv">
        <div *ngIf="weatherData.isDay" class="weatherDiv__row">
          <fa-icon class="sun" [icon]="sunIcon"></fa-icon>
        </div>
        <div *ngIf="!weatherData.isDay" class="weatherDiv__row">
          <fa-icon class="moon" [icon]="moonIcon"></fa-icon>
        </div>
        <div class="cloudDiv">
          <fa-icon class="cloud" [icon]="cloudIcon"></fa-icon>
        </div>
        <div class="weatherDiv__row" style="font-size: 32px; margin-top: 5px">
          {{ weatherData.temp_celcius }}°
        </div>
        <div class="weatherDiv__row" style="font-size: 25px; margin-top: 10px">
          {{ selectedDestination }}
        </div>
      </div>
    </div>
  </div>
</div>
