<div class="summary">
  <h1>Your ticket</h1>
  <div class="summary__ticket">
    <div class="summary__ticket__left">
      <p>From: {{ selectedOrigin }} <fa-icon [icon]="originIcon"></fa-icon></p>
      <p>
        To: {{ selectedDestination }}
        <fa-icon [icon]="destinationIcon"></fa-icon>
      </p>
      <p>
        Passengers: {{ selectedPassengerCount }}
        <fa-icon [icon]="passengersIcon"></fa-icon>
      </p>
      <div class="summary__price">
      <p>Price in:</p>
      <div class="summary__price__currencies">
        <button class="summary__price__currencyBtn" (click)="setCurrency('PLN', 'zł')">PLN</button>
        <button class="summary__price__currencyBtn" (click)="setCurrency('USD', '$')">USD</button>
        <button class="summary__price__currencyBtn" (click)="setCurrency('EUR', '€')">EUR</button>
      </div>
    </div>
    <p class="summary__price__value">{{ getConvertedPrice() | number: '1.2-2' }} {{ currencySymbol }}</p>    </div>
    <div class="summary__ticket__right">
      <p>
        Luggage: {{ selectedLuggageOption }}
        <fa-icon [icon]="luggageIcon"></fa-icon>
      </p>

      <p>
        Date: {{ formatSelectedDate() }} <fa-icon [icon]="dateIcon"></fa-icon>
      </p>
      <p>Weather in {{ selectedDestination }}</p>
      <!-- <p>{{getWeatherData()}}</p> -->
    </div>
  </div>
</div>
