@mixin login-button {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  height: 100%;
  border-radius: 15px 40px 15px 40px;
  padding: 0 50px;
  font-family: "Quicksand",sans-serif;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
  outline: none;
  background-color: #12345c;
  border: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
  height: 90px;
  margin: 0;
  padding: 0 4% 0 4%;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,.3);

  &__logo{
    font-family: "Squada One",sans-serif;

    & img{
      width: 50px;
      height: auto;
      font-family: "Squada One",sans-serif;
      margin-right: 20px;
    }

    & a{
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: "Squada One",sans-serif;
      font-size: 2rem;
      color: #12345c;
      margin-left: 15px;
      font-weight: 500;
    }
  }

  &__login {
      margin-right: 20px;
      z-index: 7;
      height: 100%;

      &--btn{
        &--closed{
          @include login-button;
        }
        &--opened{
          @include login-button;
          border-radius: 15px 40px 0 0;
        }
      }

  }
}
