  <div class="navbar">
    <div class="navbar__logo">
      <a href="https://look-up.netlify.app/">
        <img src="./assets/images/logo.png" alt="LookUp">LookUp
      </a>
    </div>
    <div class="navbar__login">
      <button (click)="showLoginComponent()" [ngClass]="{'navbar__login--btn--opened': isLoginComponentVisible, 'navbar__login--btn--closed': !isLoginComponentVisible}">Login</button>
      <ng-container *ngIf="isLoginComponentVisible">
        <app-login></app-login>
      </ng-container>
    </div>
  </div>
