<div class="selectContainer">
  <div class="selectContainer__ups">
    <button class="selectContainer__ups__origin">
      <fa-icon [icon]="originIcon"></fa-icon>
      Origin
    </button>
    <button class="selectContainer__ups__date">
      <fa-icon [icon]="dateIcon"></fa-icon>
      Date
    </button>
    <button class="selectContainer__ups__destination">
      <fa-icon [icon]="destinationIcon"></fa-icon>
      Destination
    </button>
  </div>
  <div class="selectContainer__downs">
    <button class="selectContainer__downs__passengers">
      <fa-icon [icon]="passengersIcon"></fa-icon>
      Passengers
    </button>
    <button class="selectContainer__downs__luggage">
      <fa-icon [icon]="luggageIcon"></fa-icon>
      Luggage
    </button>
    <button class="selectContainer__downs__selectSubmit">Submit</button>
  </div>
</div>
