<div class="selectContainer">
  <div class="selectContainer__ups">
    <button class="selectContainer__ups__origin">
      <fa-icon [icon]="originIcon"></fa-icon>
      Origin
    </button>
    <button class="selectContainer__ups__date">
      <fa-icon [icon]="dateIcon"></fa-icon>
      Date
    </button>
    <button class="selectContainer__ups__destination">
      <fa-icon [icon]="destinationIcon"></fa-icon>
      Destination
    </button>
  </div>
  <div class="selectContainer__downs">
    <button class="selectContainer__downs__passengers">
      <fa-icon [icon]="passengersIcon"></fa-icon>
      Passengers
    </button>
    <button class="selectContainer__downs__luggage">
      <fa-icon [icon]="luggageIcon"></fa-icon>
      Luggage
    </button>
    <button class="selectContainer__selectSubmit">Submit</button>
  </div>
</div>

<div class="submenu__ups">
  <div class="submenu__origin">
    <ul *ngIf="destinations">
      <li *ngFor="let destination of destinations">{{ destination.desc }}</li>
    </ul>
  </div>
</div>

<div class="submenu__date"></div>
<div class="submenu__destination"></div>

<div class="submenu__downs">
  <div class="submenu__passengers"></div>
  <div class="submenu__luggage"></div>
</div>
