.selectContainer {
  width: 700px;
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 15px 40px 15px 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  left: calc(50% - 350px);
  display: flex;

  &__ups,
  &__downs {
    display: flex;
    flex-wrap: wrap; /* Dodane */
  }
  .selectContainer__ups {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  // buttony
  &__originBtn,
  &__dateBtn,
  &__destinationBtn,
  &__passengersBtn,
  &__luggageBtn,
  &__submit {
    flex: 1;
    border-radius: 10px 20px 10px 20px;
    width: 180px;
    height: 50px;
    margin: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    // position: relative; /* Dodane */
  }

  // buttony
  &__originBtn:hover,
  &__dateBtn:hover,
  &__destinationBtn:hover,
  &__passengersBtn:hover,
  &__luggageBtn:hover,
  &__submit:hover,
  mat-datepicker-toggle:hover,
  mat-datepicker-toggle::after {
    color: grey;
  }

  &__submit {
    cursor: pointer;
    background-color: #4392f1;
    color: #fff;
    // width: 100%;
    height: 50px;
    justify-content: center;
    border-radius: 10px 20px 10px 20px;
    border: none;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
  }
}

fa-icon {
  margin-right: 10px;
}

  .selectContainer__origin__submenu,
  .selectContainer__date__submenu,
  .selectContainer__destination__submenu {
    position:  relative;
    background-color: white;
    transform: translateY(0);
    z-index: 100;
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 0;
    color: #88878b;
    margin-bottom: 5px;
    z-index: 2;
  }

  .selectContainer__origin__submenu__close-button,
  .selectContainer__destination__submenu__close-button {
      position: absolute;
      border: none;
      top: -12px;
      right: 12px;
    }

  // .submenu__ups__origin {
  //   left: -200px;
  //   top: 285px;
  //   width: 180px;
  // }

  // .submenu__ups__date {
  //   left: 0;
  //   top: 70px;
  //   width: 180px;
  //   height: 100px;
  // }

  // .submenu__ups__destination {
  //   position: relative;
  //   top: 375px;
  //   right: 560px;
  //   width: 180px;
  //   z-index: 200;
  // }


ul {
  list-style-type: none;
}

li {
  margin: 10px 0 0 0;
  position: relative;
  cursor: pointer;
  color: #333138;
  transition: all 0.2s ease-in-out;
}

.cities:hover {
  color: rgb(147, 129, 27);
}

mat-datepicker-toggle {
  color: black;
  width: 9px;
}

fa-icon {
  font-size: 20px;
  margin-left: 10px;
}
