.selectContainer {
  width: 700px;
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 15px 40px 15px 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  left: calc(50% - 350px);
  display: flex;

  &__ups,
  &__downs {
    display: flex;
    flex-wrap: wrap;
  }

  // buttons
  &__originBtn,
  &__dateBtn,
  &__destinationBtn,
  &__passengersBtn,
  &__luggageBtn,
  &__passengers__submenu__acceptBtn,
  &__submit {
    border-radius: 10px 20px 10px 20px;
    width: 180px;
    height: 50px;
    margin: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
  }

  &__originBtn:hover,
  &__dateBtn:hover,
  &__destinationBtn:hover,
  &__passengersBtn:hover,
  &__luggageBtn:hover,
  mat-datepicker-toggle:hover,
  mat-datepicker-toggle::after {
    color: grey;
  }

  &__submit:hover{
    color: yellow;
  }


  &__submit,
  &__passengers__submenu__acceptBtn
  {
    cursor: pointer;
    background-color: #4392f1;
    color: #fff;
    height: 50px;
    justify-content: center;
    border-radius: 10px 20px 10px 20px;
    border: none;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
  }

  &__origin__submenu,
  &__date__submenu,
  &__destination__submenu,
  &__passengers__submenu,
  &__luggage__submenu {
    position: absolute;
    background-color: white;
    transform: translateY(0);
    z-index: 100;
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 0;
    color: #88878b;
    margin-bottom: 5px;
    z-index: 2;

  }

  // SUBMENUS POSITION
  &__origin__submenu {
    left: 4rem;
    top: -9rem;
    width: 180px;
  }

  &__destination__submenu {
    left: 29rem;
    top: -9rem;
    width: 180px;
  }

  &__passengers__submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 250px;
    left: -1rem;
    top: 12rem;

    &__note{
      display: flex;
      text-align: center;
    }
    &_div{
      display: flex;
      padding: 0.5em;
      justify-content: space-between;
      &__left__title{
        font-weight: bold;
        color: black;
      }
      &__right select{
        cursor: pointer
      }
    }
    &__acceptBtn{
      padding: 15px 0;
    }
    &__count{
      margin-left: 15px;
    }

  }

  &__luggage__submenu{
    right: 17rem;
  }
  & ul{
    padding: 0 1.5rem;
    margin: 14px 0;

}

}


fa-icon {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0 0 0;
  position: relative;
  cursor: pointer;
  color: #333138;
  transition: all 0.2s ease-in-out;
}

.option:hover {
  color: #88878b;
  cursor: pointer;
}

mat-datepicker-toggle {
  color: black;
  width: 180px;
}

fa-icon {
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 720px) {
  .selectContainer{
    top: 20%;
    border-radius: 0;

  &__ups{
    flex-direction: column;
  }
  &__downs {
    flex-direction: column;
  }

  &__originBtn,
  &__dateBtn,
  &__destinationBtn,
  &__passengersBtn,
  &__luggageBtn,
  &__passengers__submenu__acceptBtn,
  &__submit {
    width: 300px;
  }

  &__origin__submenu,
  &__destination__submenu,
  &__passengers__submenu,
  &__luggage__submenu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    left: 0;
    top: 5em;
  }

  &__origin__submenu{
    top: 5em;
  }

  &__destination__submenu{
    top: 15em;
  }

  &__passengers__submenu{
    top: 20em;
  }

  &__luggage__submenu {
    top: 25em;
  }


}
}


