::ng-deep.toast {
  position: absolute;
  top: 50em;
  right: 8em;

  width: 100px !important;
  min-height: 64px !important;
  max-height: 800px !important;

  margin-left: 1px;
  background-color: #fff;
  color: #12345c;
  padding-left: 20px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  direction: ltr;
  align-items: center;
  font-family: "Quicksand",sans-serif !important;
}

@media only screen and (max-width: 480px) {
  .toast {
    margin-bottom: 0;
  }
}
