.mainContainer{
  display: flex;
  justify-content: center;
  z-index: -1;


  &__img{
    position: absolute;
    left: 0;
    height: 80%;
    width: 70%;
    background-position: 50%;
    background-clip: content-box;
    background-size: cover;
    border-radius: 0 150px 0 0;
    margin-left:180px;
  }

  &__textContainer{
    width: 600px;
    height: 150px;
    background-color: white;
    position: absolute;
    right: 10%;
    top: 25%;
    padding: 20px 40px 20px 10px;
    font-size: 3rem;
    text-align: left;
    font-weight: 300;
    color: #4392f1;
    z-index: 0;


    &:before{
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 12px;
      background-color: #12345c;
      left: -12px;
    }

    &:after{
      width: 50px;
      background-color: #4392f1;
      right: 0;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
    }

    &__text{
      width: 450px;
      word-wrap:break-word;
      display: inline-block;
      margin: 0;
      padding: 10px 0 10px 0;

    }
  }

}



